
<ion-header>
  <ion-toolbar>
    <ion-title>
      DuDeus
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  overflow-scroll="true">

  <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline" class="videoPlayer">
   <source src="C:\Users\felipe\Desktop\ionic\MeuPintin\BTS - Boy Meets Evil_Lie (JHOPE_JIMIN) MAMASHUP by(1080P_HD).mp4" type="video/mp4" />
  </video>



  <ion-img src ="https://i.pinimg.com/originals/5d/47/ec/5d47ecc1372d74729185b8a054e958a5.jpg"> </ion-img>
  <div class="ion-padding">
  <font color="#009933"> Linha atacante de raça</font>
    <h1>Maior campeão brasileiro</h1>
    <p> color  Deca </p>
  </div>
</ion-content>
